<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon"
        href="../static/img/favicon.ico">
    <title>Watch Episode {{ title }} - {{ heading }} - ZoroTV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="Watch Episode {{ title }} - {{ heading }} - Zoro TV">
    <meta name="description"
        content="Watch Episode {{ title }} - {{ heading }} - ZoroTV free anime online and it's latest episodes on ZoroTV. We provide free anime online experience without ads, signing up or downloading.">
    <meta name="keywords"
        content="{{ title }}, zoro tv, hindi dub, hindi sub, english dub, watch anime online, free anime, anime stream, anime hd, english sub, kissanime, gogoanime, animeultima, 9anime, 123animes, animefreak, vidstreaming, gogo-stream, animekisa, zoro.to, gogoanime.run, animefrenzy, animekisa">
    <meta name="charset" content="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="revisit-after" content="1 days">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Language" content="en">
    
    <link href="../static/css/episode_min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/anime_min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section id="vid-sec">
        <div id="vid-div">

            <div id="video">
                <iframe id="AnimeDexFrame" src="{{ iframe }}" style="border:0px #ffffff none;" scrolling="no"
                    frameborder="0" marginheight="0px" marginwidth="0px" allowfullscreen></iframe>

            </div>

        </div>

        <div id="server_main">
            <div class="status">
                <div class="scontent">
                    You are watching <b>Episode {{ title }}</b>If current server doesn't work please try other servers
                    beside.
                </div>
            </div>

            SERVER
        </div>
    </section>
    <section id="watch">
        <div class="selector link-data">
            PROSLO
        </div>        
        LISTHTML
    </section>
    <script>
        function selectServer(btn) {
            const buttons = document.getElementsByClassName('sobtn');
            const iframe = document.getElementById('AnimeDexFrame');
            iframe.src = btn.getAttribute('data-value');
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].className = "sobtn";
            }
            btn.className = "sobtn sactive";
        };

        function showDownload() {
            document.getElementById('showdl').style.display = "none";
            document.getElementById('dldiv').classList.toggle('show');
        }
    </script>
</body>

</html>